* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans', sans-serif;
}

a{
    text-decoration: none;
    color: #ffffff;
}

body{
    background-color: #1a242f;

}

.container{
    margin: 0px 40px;
}